html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: black;
    box-sizing: border-box;
}

input::placeholder {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: #A8A8A8;
}

textarea::placeholder {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: #A8A8A8;
}